/* General */ 
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Encabezado (parte superior oscura) */
.header {
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    padding: 30px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto;
}

/* Títulos principales */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    /* Estilos para el fondo */
    background-image: url('../Imagenes/header_background.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 15px 0;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 8px;
    overflow: hidden;
}

/* Títulos secundarios */
h2 {
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

/* Párrafos */
p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Enlaces (links) */
a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}

/* Caja de video responsivo */
.video-container {
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
    max-width: 40%;
    margin: 15px auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Última imagen - igual a las anteriores */
.container img:last-child {
    max-width: 100%; /* Ajustado para que sea igual a las anteriores */
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}

/* Reducir imagen específica si es necesario */
img[src*="PselSepNUuSxzhk/image.jpg"] {
    width: 15%; /* Reducido a 15% */
    height: auto; /* Mantiene la proporción */
}

/* Destacar palabras clave */
strong {
    color: #ff0000;
}

/* Pie de página */
footer {
    text-align: center;
    font-size: 12px;
}
